html, body {
	background-color: #ebebeb;
	margin: 0;
	padding: 0;
}

#navigation_ribbon {
	top: 0;
	left: 0;
	position: fixed;
	height: 35px;
	width: 100%;
	background: black;
}

#navigation_ribbon p {
	float: left;
	margin: 0;
	position: relative;
	left: 3%;
	font-family: impact, arial;
	color: white;
	font-size: 20pt;
	display: inline;
}


ul, nav {
	margin: 0;
}

li {
	list-style: none;
	position: relative;
	left: 12%;
	float: left;
	color: white;
	font-size: 16px;
	font-family: arial;
	font-weight: bold;
	padding: 8.3px 18px;
	border-right: 1px white solid;
	background-color: black;
	transition: .5s;
	transition-property: background-color;
}

li:first-child { border-left: 1px white solid }

li:hover {
	background-color: orange;
}

#login_signup_box {
	margin: 65.2px 523.5px;
	margin-bottom: 0;
	background-color: white;
	height: 480px;
	width: 311px;
	border-radius: 10px;
	padding: 8px;
}

input[type=text] {
	width: 300px;
	height: 35px;
	margin: 5px;
	padding: 5px;
}

input[type=text]:focus {
	box-shadow: inset 0px 0px 1px 0px #999;
}

input[type=submit] {
	width: 180px;
	height: 35px;
	margin: 5px 65.5px;
	font-size: 11pt;
	background: linear-gradient(#4387fd,#4683ea);
	background: -webkit-linear-gradient(top,#4387fd,#4683ea);
	border: 1px solid transparent;
	border-radius: 3px;
	color: white;
	font-weight: bold;
}

#signUp {
	background: linear-gradient(#34F5AB,#03CE80);
	background: -webkit-linear-gradient(top,#34F5AB,#03CE80);
}

input[type=submit]:hover {
	box-shadow: 0px 1px 3px 1px #999;
}

#login_signup_box p {
	font-family: Arial;
	font-size: 18pt;
	font-weight: bold;
	margin: 11px 5px;
}

#page_footer {
	position: absolute;
	width: 100%;
	height: 35px;
	background: black;
	text-align: center;
	bottom: 0;
}

#page_footer p {
	margin: 9px;
	font-size: 12pt;
	font-family: arial;
	color: white;
	display: inline-block;
	font-weight: bold;
}
