html, body {
	background-color: #ebebeb;
	margin: 0;
	padding: 0;
}

#navigation_ribbon {
	top: 0;
	left: 0;
	position: fixed;
	height: 35px;
	width: 100%;
	background: black;
}

#navigation_ribbon p {
	float: left;
	margin: 0;
	position: relative;
	left: 3%;
	font-family: impact, arial;
	color: white;
	font-size: 20pt;
	display: inline;
}


ul, nav {
	margin: 0;
}

li {
	list-style: none;
	position: relative;
	left: 12%;
	float: left;
	color: white;
	font-size: 16px;
	font-family: arial;
	font-weight: bold;
	padding: 8.3px 18px;
	border-right: 1px white solid;
	background-color: black;
	transition: .5s;
	transition-property: background-color;
}

#firstLi { border-left: 1px white solid }

li:hover {
	background-color: orange;
}

#report_ribbon {
	background-color: 00bff3;
	color: white;
	width: 809.4px;
	height: 35px;
	margin: 0px 269.8px;
	margin-top: 10px;
}

#form_box {
	background-color: white;
	width: 729.4px;
	height: 561px;
	padding: 40px;
	margin: 0px 269.8px;
}

#form_box p:first-child {
	margin-top: 0;
	margin-bottom: 20px;
	font-size: 19pt;
	font-family: arial;
	font-weight: bold;
}

label {
	font-size: 11pt;
	font-family: arial;
	font-weight: bold;
}

input[type=date] {
	width: 150px;
	height: 35px;
	margin: 5px;
	padding: 5px;
}

input[type=text] {
	width: 300px;
	height: 35px;
	margin: 5px;
	padding: 5px;
}

input[type=submit] {
	width: 180px;
	height: 35px;
	margin: 5px 65.5px;
	font-size: 11pt;
	background: linear-gradient(#4387fd,#4683ea);
	background: -webkit-linear-gradient(top,#4387fd,#4683ea);
	border: 1px solid transparent;
	border-radius: 3px;
	color: white;
	font-weight: bold;
}

input[type=submit]:hover {
	box-shadow: 0px 1px 3px 1px #999;
}

textarea {
	padding: 5px;
}

#page_footer {
	position: relative;
	width: 100%;
	height: 35px;
	background: black;
	text-align: center;
	bottom: 0;
}

#report_ribbon p, #page_footer p {
	margin: 9px;
	margin-bottom: 0;
	font-size: 12pt;
	font-family: arial;
	color: white;
	display: inline-block;
	font-weight: bold;
}